#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.App {
  margin-left: 60px;
  margin-right: 60px;
}

.PostGrid {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.Post {
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: medium;
    border-radius: 14px;
    backdrop-filter: blur(2px);
    word-wrap: normal;
    text-align: center;
    margin-bottom: 30px;
    height: 500px;
    width: 325px;
}

.Post:hover {
    color: #000;
    background-color: lightblue;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: 0 15px 25px gray;
    font-size: medium;
    border-radius: 14px;
    backdrop-filter: blur(2px);
    word-wrap: normal;
    text-align: center;
    margin-bottom: 30px;
    height: 500px;
    width: 325px;
}

.Post img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  bottom: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color .25s;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color .25s;
  margin-bottom: 20px;
  border-color: #000;
  border: solid;
  cursor: pointer;
}